.pagination {
  margin: 16px 0;
  margin-right: -16px;
  float: right;

  &__total {
    white-space: nowrap;
  }
}

@media (max-width: 640px) {
  .pagination {
    font-size: 12px;
    margin-bottom: 0;

    :global(.rc-pagination-item) {
      min-width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
    }

    :global(.rc-pagination-prev),
    :global(.rc-pagination-next) {
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
    }

    &__total {
      position: absolute;
      right: 0;
      bottom: -24px;
    }
  }
}
