.pagination {
  margin: 16px 0;
  float: right;

  &__total {
    white-space: nowrap;
    margin-top: 2px;
  }

  :global(.rc-pagination-item-link) {
    width: 28px;
    height: 28px;
  }

  :global(.rc-pagination-item),
  :global(.rc-pagination-item-link) {
    border-radius: 50%;
  }

  :global(.rc-pagination-item-active) {
    background: #007bff;

    & > a {
      color: #fff;
    }
  }
}

@media (max-width: 640px) {
  .pagination {
    font-size: 12px;
    margin-bottom: 0;

    :global(.rc-pagination-item-link) {
      width: 24px;
      height: 24px;
    }

    :global(.rc-pagination-item) {
      min-width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
    }

    :global(.rc-pagination-prev),
    :global(.rc-pagination-next) {
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
    }

    &__total {
      position: absolute;
      right: 0;
      bottom: -24px;
    }
  }
}
