.app {
  max-width: 100%;

  &:hover {
    .app__action {
      opacity: 1;
      pointer-events: all;
    }
  }

  span {
    &:hover {
      color: var(--primary);
    }
  }

  &__action {
    opacity: 0;
    pointer-events: none;
  }
}

.scrollView {
  & > div:nth-child(2) {
    width: 100%;
    min-width: auto;

    & > div:first-of-type {
      width: 100%;
    }
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 32px;

  & > img {
    width: 200px;
  }
}
