body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

#root > div {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
