.appDetail {
  &__icon {
    margin-top: 64px;
    margin-bottom: 32px;
    height: 256px;
    text-align: center;

    & > img {
      width: 256px;
      height: 256px;
    }
  }

  &__item {
    &:hover {
      .appDetail__item__action {
        opacity: 1;
        pointer-events: all;
      }
    }

    &__action {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media (max-width: 640px) {
  .appDetail {
    &__icon {
      width: 100px;
      height: 100px;
    }

    &__item {
      &__action {
        opacity: 1;
        pointer-events: all;
      }

      &__value {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }
  }
}
