.appDetail {
  &__icon {
    margin-top: 64px;
    margin-bottom: 32px;
    height: 256px;
    text-align: center;

    & > img {
      width: 256px;
      height: 256px;
    }
  }

  &__item {
    transition: all 0.3s ease-in-out;

    &:hover {
      .appDetail__item__action {
        opacity: 1;
        pointer-events: all;
      }
    }

    &__action {
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease-in-out;
    }

    &__value {
      transition: all 0.2s ease-in-out;

      &:hover {
        color: var(--accent-indicator);
      }
    }
  }

  &__content {
    animation: fadeInUp 0.5s ease-out forwards;
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 640px) {
  .appDetail {
    &__icon {
      height: 100px;

      & > img {
        width: 100px;
        height: 100px;
      }
    }

    &__item {
      &__action {
        opacity: 1;
        pointer-events: all;
      }

      &__value {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }
  }
}
