.appType {
  &:hover {
    & > div:last-of-type {
      // width: auto;
      opacity: 1;
    }
  }

  & > div:last-of-type {
    // width: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 3px;

    & > svg {
      cursor: pointer;
    }
  }
}
